#myKanban {
  overflow: auto;
  white-space: nowrap;
}
.kanban-drag {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.kanban-drag .kanban-item {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  flex: 0;
  vertical-align: top;
  height:70px;
}
.kanban-board .kanban-board-header{
  justify-content: space-between;
  cursor:grab;
}
.kanban-container .kanban-board-header {
  cursor: pointer;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.kanban-board{
  flex-grow: 1;
}
.new-card{
  float: right;
}
.kanban-item{
  text-align: left;
}

.itemform{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  flex: 0;
  vertical-align: top;
  height:70px;
}
.itemform .new-item .new-item-text{
  height:57px;
}